<div class="float-right mr-3 my-2">
    <label>Show</label>
    <select class="form-control" [(ngModel)]="pageSize" (change)="paginate($event)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
</div>


<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>Last Name</th>
        <th>CIN</th>
        <th>Type Contrat</th>
        <th>Gender</th>
        <th>birthdate</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Photo</th>
        <th>salaire</th>
        <th>salairebrut</th>
       
        <!--<th>Action</th>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employe of employes | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">

          <td><a [routerLink]="['/afficheremploye', employe.id]">{{employe.id}}</a></td>

        <td>{{ employe.firstname }}</td>
        <td>{{ employe.lastname }}</td>
        <td>{{ employe.cin }}</td>
        <td>{{ employe.typecontrat }}</td>
        <td>{{ employe.gender }}</td>
        <td>{{ employe.birthdate }}</td>
        <td>{{ employe.phone }}</td>
        <td>{{ employe.email }}</td>
        <td>{{ employe.adresse }}</td>
        <td>{{ employe.photo }}</td>
        <td>{{ employe.salaire }}</td>
        <td>{{ employe.salairebrut }}</td>
        <!--<td>
            <button class="btn btn-danger btn-sm d-inline" (click)="deleteemploye(employe)">Delete</button>
            <button class="btn btn-primary btn-sm d-inline" (click)="modifyemploye(employe)">Modify</button>
        </td> -->
      </tr>
    </tbody>
  </table>


  <div class="pagination">
    <pagination-controls (pageChange)="currentPage = $event" previousLabel="Previous" nextLabel="Next"></pagination-controls>
  </div>
  
  


