<div class="float-right mr-3 my-2">
    <label>Show</label>
    <select class="form-control" [(ngModel)]="pageSize" (change)="paginate($event)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Client</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let facture of factureclients | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
        <td><a [routerLink]="['/afficherfactureclient', facture.id]">{{ facture.id }} </a></td>
        <td>{{ facture.datefacture | date }}</td>
        <td>{{ facture.idclient }} - {{getClientName(facture.idclient)}} </td>
        <td>{{ facture.total }}</td>
      </tr>
    </tbody>
  </table>
  
  <div class="pagination">
    <pagination-controls (pageChange)="currentPage = $event" previousLabel="Previous" nextLabel="Next"></pagination-controls>
  </div>