<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">


            <div class="card-header">Pannier est vide </div>
            <div class="card-body">
                <!-- <div class="form-group">
                   <label for="date">Date: {{ time | date: 'dd/MM/yyyy à HH:mm:ss' }}</label>
                 </div>
             -->
                <button class="btn btn-success mr-1" (click)="onSave()">Confirmer vos achat</button>
                <button class="btn btn-danger">Supprimer</button>
            </div>
        </div>
    </div>
</div>
