<div class="float-right mr-3 my-2">
    <label>Show</label>
    <select class="form-control" [(ngModel)]="pageSize" (change)="paginate($event)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
</div>

<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of produits | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
        <td>{{produit.id}}</td>
        <td>{{ produit.nom }}</td>
        <td>{{ produit.prixvente }}</td>
        <td>{{ produit.stock }}</td>
        
      </tr>
    </tbody>
</table>

<div class="pagination">
    <pagination-controls (pageChange)="currentPage = $event" previousLabel="Previous" nextLabel="Next"></pagination-controls>
</div>
