<div class="container mt-4">
    <form (submit)="onSubmit()">


      <div class="form-group" *ngIf="categorie">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="titre" name="titre" placeholder="Enter Title" [(ngModel)]="categorie.titre">
      </div>





      <div class="form-group"  *ngIf="categorie">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" placeholder="Enter Description" [(ngModel)]="categorie.description" ></textarea>
      </div>
      
      <div class="form-group"  *ngIf="categorie">
        <label for="parent">Parent</label>
        <select id="parentCategory" name="parentCategory" class="form-control" [(ngModel)]="categorie.parentid" (ngModelChange)="onParentCategorySelected()">
          <option *ngFor="let category of categories" [value]="category.id">{{ category.titre }}</option>
      </select>
          </div>


     
    


      
      <button type="submit" class="btn btn-primary">Update Category</button>
    </form>
  </div>

  
