<h2>Change Password</h2>
          <form (ngSubmit)="onModify()">
            <div class="form-group">
              <label for="currentPassword">Current Password</label>
              <input type="password" class="form-control" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword">
            </div>
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword">
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword">
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
          </form>
